# Version control
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Tests & Coverage
tests/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Dev tools
.ruff_cache/
.pre-commit-config.yaml
sonar-project.properties

# Docs & IDE
*.md
.vscode/
.idea/

# Secrets
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose*.yml
