# Copier ce fichier en .env et remplacer toutes les valeurs

# Base de données
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5432/your_db_name

# Redis
REDIS_URL=redis://localhost:6379/0

# API de change
FRANKFURTER_BASE_URL=https://api.frankfurter.app
CURRENCY_CACHE_TTL=86400

# Cache Repository
REPO_CACHE_TTL=300

# Auth — générer avec : python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=your-secret-key-min-32-chars-replace-this
JWT_EXPIRE_MINUTES=1440

# App
APP_ENV=development
