environment       = "production"
app_image         = "ghcr.io/hisamist/sharetrip:latest"
app_port          = 8000
postgres_user     = "sharetrip"
postgres_password = "CHANGE_ME"
postgres_db       = "sharetrip"
jwt_secret_key    = "CHANGE_ME_minimum_32_characters_long"
